<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book a room</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/forms.css}">
</head>
<body>
<div class="page_header">
    <h2>Book a room</h2>
</div>
<div class="page_content">
    <div class="cards-grid" th:object="${allRoomsData}">
        <div class="card" th:each="room, stat : ${allRoomsData.rooms}">
            <div class="header">
                <h2>Room <span th:text="${stat.count}"></span></h2>
            </div>

            <div class="room_info room_info--first">
                <strong>Price:</strong> €<span th:text="${#numbers.formatDecimal(room.roomPrice, 1, 2)}"></span>
            </div>
            <div class="room_info">
                <strong>Capacity:</strong> <span th:text="${room.capacity}"></span>
            </div>

            <form class="form form--single" id="green_form" th:action="@{/reservations/add/room}" method="post">
                <input type="hidden" name="roomId" th:value="${room.roomId}">

                <input type="hidden" name="page" th:value="${pageDto.page}">
                <input type="hidden" name="size" th:value="${pageDto.size}">
                <input type="hidden" name="totalPages" th:value="${pageDto.totalPages}">
                <input type="hidden" name="returnPage" th:value="${pageDto.returnPage}">

                <input type="hidden" name="lowerPrice" th:value="${listingFilters.lowerPrice}">
                <input type="hidden" name="upperPrice" th:value="${listingFilters.upperPrice}">
                <input type="hidden" name="city" th:value="${listingFilters.city}">
                <input type="hidden" name="numberOfStudents" th:value="${listingFilters.numberOfStudents}">
                <input type="hidden" name="numberOfRooms" th:value="${listingFilters.numberOfRooms}">

                <button th:if="${room.isReservable}">
                    Book
                </button>
            </form>

            <table class="reservation_table">
                <tr class="reservation" th:each="reservation : ${room.reservations}">
                    <td style="text-align: center;"><a th:href="@{/user/{username}(username=${reservation.studentUsername})}"
                           th:text="${reservation.studentUsername}"></a></td>
                </tr>
            </table>
        </div>
    </div>

    <form class="form form--single">
        <input type="hidden" name="listingId" th:value="${allRoomsData.listingId}">

        <input type="hidden" name="page" th:value="${pageDto.page}">
        <input type="hidden" name="size" th:value="${pageDto.size}">
        <input type="hidden" name="totalPages" th:value="${pageDto.totalPages}">
        <input type="hidden" name="returnPage" th:value="${pageDto.returnPage}">

        <input type="hidden" name="lowerPrice" th:value="${listingFilters.lowerPrice}">
        <input type="hidden" name="upperPrice" th:value="${listingFilters.upperPrice}">
        <input type="hidden" name="city" th:value="${listingFilters.city}">
        <input type="hidden" name="numberOfStudents" th:value="${listingFilters.numberOfStudents}">
        <input type="hidden" name="numberOfRooms" th:value="${listingFilters.numberOfRooms}">

        <button type="submit"
                class="full_reservation_btn"
                formaction="/reservations/add/full"
                formmethod="post"
                th:if="${isFullListingReservable}">
            Book entire accommodation
        </button>

        <button type="submit" name="action" value="first"
                th:if="${pageDto.returnPage == 'listings'}"
                class="back_btn"
                formaction="/listings/changePage"
                formmethod="post">
            Back to listings
        </button>

        <button type="submit"
                th:if="${pageDto.returnPage == 'myFavorites'}"
                class="back_btn" id="wider"
                formaction="/favorites/show"
                formmethod="get">
            Back to my favorites
        </button>
    </form>
</div>
</body>
</html>