<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Landlord</th>
                <th>Description</th>
                <th>Address</th>
                <th>City</th>
                <th>Price</th>
                <th>Number of students</th>
                <th>Number of rooms</th>
                <th>Cancellation deadline</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="listing : ${listings}">
                <td th:text="${listing.title}"></td>
                <td th:text="${listing.landlordUsername}"></td>
                <td th:text="${listing.description}"></td>
                <td th:text="${listing.address}"></td>
                <td th:text="${listing.city}"></td>
                <td th:text="${listing.price}"></td>
                <td th:text="${listing.numberOfStudents}"></td>
                <td th:text="${listing.numberOfRooms}"></td>
                <td th:text="${#temporals.format(listing.cancellationDeadline, 'dd.MM.yyyy. HH:mm')}"></td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/listings/changePage}" th:object="${pageDto}" method="post">
        <input type="hidden" name="page" th:value="${pageDto.page}">
        <input type="hidden" name="size" th:value="${pageDto.size}">
        <input type="hidden" name="totalPages" th:value="${pageDto.totalPages}">

        <input type="hidden" name="lowerPrice"  th:value="${optionsData.lowerPrice}">
        <input type="hidden" name="upperPrice"  th:value="${optionsData.upperPrice}">
        <input type="hidden" name="city"        th:value="${optionsData.city}">
        <table>
            <tr>
                <td><button type="submit" name="action" value="first"><<</button></td>
                <td><button type="submit" name="action" value="prev"><</button></td>
                <td th:text="${pageDto.page} + '/' + ${pageDto.totalPages}"></td>
                <td><button type="submit" name="action" value="next">></button></td>
                <td><button type="submit" name="action" value="last">>></button></td>
            </tr>
        </table>
    </form>
    <form th:action="@{/listings/options}" method="get">
        <button type="submit">Back to filters</button>
    </form>
</body>
</html>