<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/listings.css}">
</head>

<body>
<div class="page_header">
    <h2>Listing details</h2>
</div>

<div class="listings_container listing_details_container">
    <div class="listing_card">
        <div class="listing_header">
            <h3 th:text="${listing.title}"></h3>
        </div>

        <div class="listing_body">
            <p class="description" th:text="${listing.description}"></p>

            <div class="listing_grid">
                <div class="listing_data">
                    <div><strong>Landlord:</strong> <span th:text="${listing.landlordUsername}"></span></div>
                    <div><strong>Number of students:</strong> <span th:text="${listing.numberOfStudents}"></span></div>
                    <div><strong>Address:</strong> <span th:text="${listing.address}"></span></div>
                    <div><strong>Number of rooms:</strong> <span th:text="${listing.numberOfRooms}"></span></div>
                    <div><strong>City:</strong> <span th:text="${listing.city}"></span></div>
                    <div><strong>Preferred gender:</strong> <span th:text="${listing.preferredGender?.displayName}"></span></div>
                    <div><strong>Price:</strong> €<span th:text="${#numbers.formatDecimal(listing.price, 1, 2)}"></span></div>
                    <div><strong>Days to cancel:</strong> <span th:text="${listing.daysToCancel}"></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="back_form" th:action="@{/reservations/myReservations}" method="get">
    <button type="submit" class="back_btn">Back to my reservations</button>
</form>
</body>
</html>