<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My reservations</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>

<div class="page_header my_reservations_header">
    <h2>My reservations</h2>
</div>

<div class="container">
    <div class="card my_reservations_card">

        <table class="my_reservations_table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Address</th>
                <th>City</th>
                <th>Landlord</th>
                <th>Cancellation deadline</th>
                <th>Status</th>
                <th>Type</th>
                <th>Booked rooms</th>
                <th>Listing rooms</th>
                <th class="actions">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="myReservation : ${listingsWithMyReservations}">
                <td th:text="${myReservation.title}"></td>
                <td th:text="${myReservation.address}"></td>
                <td th:text="${myReservation.city}"></td>
                <td><a href="userInfo.html" th:text="${myReservation.landlordUsername}"></a></td>
                <td th:text="${#temporals.format(myReservation.cancellationDeadline, 'dd.MM.yyyy. HH:mm')}"></td>
                <td th:text="${myReservation.status.displayName}"></td>
                <td th:text="${myReservation.type.displayName}"></td>
                <td th:text="${myReservation.numberOfBookedRooms}"></td>
                <td th:text="${myReservation.numberOfRooms}"></td>

                <td class="reservation_actions">
                    <form th:action="@{/reservations/showBookedRooms}"
                          th:if="${myReservation.type.displayName == 'room' and myReservation.status.displayName == 'pending'}"
                          method="get">
                        <input type="hidden" name="listingId" th:value="${myReservation.listingId}">
                        <button type="submit" class="btn blue">Show booked rooms</button>
                    </form>
                    <form th:action="@{/reservations/manage}"
                          th:if="${myReservation.status.displayName == 'active'}"
                          method="get">
                        <input type="hidden" name="listingId" th:value="${myReservation.listingId}">
                        <button type="submit" class="btn green">Manage reservations</button>
                    </form>
                    <form th:action="@{/listings/showDetails}" method="get">
                        <input type="hidden" name="listingId" th:value="${myReservation.listingId}">
                        <button type="submit" class="btn">View listing details</button>
                    </form>
                    <form th:action="@{/reservations/cancelAllForListing}" th:if="${myReservation.isCancellable}" method="post">
                        <input type="hidden" name="listingId" th:value="${myReservation.listingId}">
                        <button type="submit" class="btn red">Cancel</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        <form class="back_form" th:action="@{/home}" method="get">
            <button type="submit" class="btn red">Back to home page</button>
        </form>
    </div>
</div>

</body>

</html>